<div class="content">
<div class="heading"><h2>{{ content.field_tagline}}</h2></div>
<div class="news-content"><h2 style="font-size:22px; font-weight:400; text-align:center;">{{ content.body }}</h2></div>
</div>
