{% for field in fields -%}


  {%- if field.wrapper_attributes.class[1] == 'views-field-field-formatted-faq-question' %}
      <div class="showfaqque">
          {{ field.content }}
      </div>
  {%- endif %}

  {%- if field.wrapper_attributes.class[1] == 'views-field-field-formatted-faq-answer' %}
      <div class="showfaqans">
           {{ field.content }} 
      </div>
  {%- endif %}
  
{%- endfor %}