#drupal-modal{

     text-align: center !important;
     padding-bottom:15px !important;
}

.ui-dialog .ui-dialog-titlebar {
    font-weight: bold !important;
    background: #fff !important;    
    font: normal 1em/1.6em "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
    color: #2e2e2e !important;
    border-style: solid !important;
    border-radius: 0 !important;
    border-width: 0 0 3px 0 !important;
    border-color: #f86b3f !important;
}


.ui-dialog .ui-dialog-titlebar {
    padding: 1.4em 1em !important;
    position: relative !important;
    text-align: center !important;
    
}


.ui-dialog .ui-dialog-title {
    float: none;
    margin: .1em 0;
    white-space: none !important;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    color: #2e2e2e !important;
    font: 1em/1.6em "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
   
}


.ui-dialog {    
    border-radius: 4px !important;
    width: 45% !important;
    border:10px solid #464646;
    padding: 0 20px 15px 20px !important;    
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    color: #fff;   
    position: absolute;
    width: 480px;
    top:120px !important;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    background: #fff !important;
    padding: .3em 1em;
    border: none !important;   
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: none !important;    
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    width:100% !important;
    text-align:center;
    margin-bottom: 1em;
}
.ui-dialog .button {
    background: #ec5a1a none repeat scroll 0px 0px !important;
    border: 0px none #fff !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    text-transform: uppercase;
    font: normal 1em/1.6em "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important ;
    font-weight: 600 !important;
    padding: 4px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-shadow: none !important;
    line-height: normal !important;
    letter-spacing: 1px !important;
    color:#fff !important;
    width:85% !important;
    padding: 7px 16px !important;
    margin:none !important;
}

.test-modal-form  .form-item {   
    text-align: center !important;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    
    top: 15px !important;
    right:-15px !important;
    border-radius: 2px;
    color: #3d3e3f;
    cursor: pointer;
    display: inline-block;
    font: 1.2rem/1.2rem "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    padding: 10px;   
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);   
    transition: all 0.15s ease-out 0s;
    z-index: 100;
    background: url(../images/close.png) no-repeat scroll 2px 4px !important;
    border:none !important;
    box-shadow: none !important;
}

.ui-widget-overlay {    
    opacity: 0.6 !important;
}

.test-modal-form  .form-select {   
    border-radius: 3px !important;
}

#lang_select_elem {
    border: 1px solid #8f8f8f !important;
}